body {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #bfddf5;
}

h1 {
  font-size: 20px;
  font-weight: bold;	
}
